{% extends "root.html" %}
{{super()}}

{% block head_custom %}
<style>
/* IE has layout issues when sorting (see #5413) */
.group { zoom: 1 }
</style>

<script>
var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
$(function() {
  $( "#accordion" )
    .accordion({
      header: "> div > h3"
    })
    .sortable({
      axis: "y",
      handle: "h3",
      stop: function( event, ui ) {
        ui.item.children( "h3" ).triggerHandler( "focusout" );
      }
    });
});
</script>
{% endblock head_custom %}

{% block body %}
<body>
<header>
<div><h1>Streams</h1></div>
<nav>
  <a href="{{ url_for('.index') }}">Home</a>
  <a href="{{ url_for('.projects') }}">Projects</a>
  {% if current_user.is_anonymous() %}
    <a href="{{url_for('.register')}}">Register</a> / <a href="{{url_for('.login')}}">Log In</a>
  {% else %}
    <a href="{{url_for('.logout')}}">Logout</a>
  {% endif %}
</nav>
</header>
<div class="row navigation">
  {% if current_user.is_authenticated() %}
  {{ current_user.name }} / <b>{{ current_user.current_project }}</b>
  {% endif %}
</div>

{% block nav %}
<nav id="nav">
<ul>
<li><a href="{{ url_for('.releases') }}">Releases</a></li>
<li><a href="{{ url_for('.reqs') }}">Requirements</a></li>
<li><a href="{{ url_for('.issues_overview') }}">Issues</a></li>
<li><a href="{{ url_for('.tests') }}">Tests</a></li>
</ul>
</nav>
{% endblock nav %}
{% set messages = get_flashed_messages() %}
{% if messages %}
<section>
  {% for message in messages %}
  <p>{{ message }}</p>
  {% endfor %}
</section>
{% endif %}
<section>
{% block content %}{% endblock %}
</section>
<div class="footer">
  <p>&nbsp;</p>
</div>
{% endblock body %}
