{% extends "base.html" %}
{% import "util/tables.html" as tables %}
{% import "util/forms.html" as forms %}
{% block title %}Issues{% endblock %}
{% block content %}
{{super()}}

<form action="{{ form_action }}" method="{{ method | d("POST") }}">
<fieldset>
  <legend>Add An Issue</legend>
  <dl>
  {{ forms.render_field(form.title, size=50) }}
  {{ forms.render_field(form.description, rows=10, cols=50) }}
  {{ forms.render_field(form.type) }}
  {{ forms.render_field(form.release) }}
  {{ forms.render_field(form.req) }}
  {{ forms.render_field(form.assignee) }}
  {{ forms.render_field(form.status) }}
  </dl>
  {{ form.hidden_tag() }}
  <p><input type="Submit" value="Add Issue"></p>
</fieldset>
</form>

<table id="table-base">
<thead>
  <tr>
    <th>ID</th>
    <th>Release</th>
    <th>Type</th>
    <th>Status</th>
    <th>Assignee</th>
    <th>Title</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
{% call(issue) tables.process_rows(issues) %}
<td>{{ issue.id }}</td>
<td>{{ issue.release.name }}</td>
<td>{{ issue.type }}</td>
<td>{{ issue.status }}</td>
<td>{{ issue.assignee.name }}</td>
<td>{{ issue.title }}</td>
<td>{{ issue.description }}</td>
<td>{{ issue.requirements }}</td>
<td><a href='{{ url_for('edit_issue', issue_id=issue.id) }}'>Edit</a></td>
<td><a href='{{ url_for('del_issue', issue_id=issue.id) }}'>Delete</a></td>
{% endcall %}
</tbody>
</table>
{% endblock content %}

