{% extends "base.html" %}
{% import "util/tables.html" as tables %}
{% import "util/forms.html" as forms %}
{% block title %}Requirements{% endblock %}
{% block content %}
{{super()}}

<script type=text/javascript>
$(document).ready(function() {
  var $dialog = $('<div></div>')
    .html('This dialog will show every time!')
    .dialog({
      autoOpen: false,
      width: 1000,
      height: 800,
      title: 'Issues'
    });

  $('a#get_issues').click(function() {
    $.get($SCRIPT_ROOT + '/_issues_from_req', {
      req_id: $(this).attr('value')
    }, function(data) {
      $dialog.html(data).dialog("open");
    });
  });
});
</script>

<div id="b">
<form action="{{ form_action }}" method="{{ method | d("POST") }}">
<fieldset>
<legend>Add A Requirement</legend>
  <dl>
  {{ forms.render_field(form.description, rows=4, cols=50) }}
  {{ forms.render_field(form.category) }}
  {{ forms.render_field(form.external_id) }}
  </dl>
  {{ form.hidden_tag() }}
<p><input type="Submit" value="Add Requirement"></p>
</fieldset>
</form>
</div>

<script>
  $("#b").css("display","none");

  function showForm() {
    $("#b").css("display","block");
  }
</script>

<a href="javascript:showForm();">New req</a>

<table id="table-base">
<thead>
  <tr>
    <th>Category</th>
    <th>Description</th>
    <th/>
    <th/>
    <th/>
    <th/>
  </tr>
</thead>
<tbody>
{% call(req) tables.process_rows(reqs) %}
<td>{{ req.category.name }}</td>
<td>{{ req.external_id }}</td>
<td>{{ req.description }}</td>
<td><a href='{{ url_for('edit_req', req_id=req.id) }}'>Edit</a></td>
<td><a href='{{ url_for('del_req', req_id=req.id) }}'>Delete</a></td>
<td><a href='{{ url_for('issue_from_req', req_id=req.id) }}'>Add Issue</a></td>
<td><a href=# id=get_issues value={{ req.id }}>Issues</a></td>
{% endcall %}
</tbody>
</table>
{% endblock content %}
