{% extends "base.html" %}
{% import "util/tables.html" as tables %}
{% import "util/forms.html" as forms %}
{% block title %}Requirements{% endblock %}
{% block content %}
{{super()}}

<form action="{{ form_action }}" method="{{ method | d("POST") }}">
<fieldset>
<legend>Add A Requirement</legend>
  <dl>
  {{ forms.render_field(form.description, rows=4, cols=50) }}
  {{ forms.render_field(form.category) }}
  {{ forms.render_field(form.external_id) }}
  </dl>
  {{ form.hidden_tag() }}
<p><input type="Submit" value="Add Requirement"></p>
</fieldset>
</form>

<table id="table-base">
<thead>
  <tr>
    <th>Category</th>
    <th>Ext ID</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
{% call(req) tables.process_rows(reqs) %}
<td>{{ req.category.name }}</td>
<td>{{ req.external_id }}</td>
<td>{{ req.description }}</td>
<td><a href='{{ url_for('edit_req', req_id=req.id) }}'>Edit</a></td>
<td><a href='{{ url_for('del_req', req_id=req.id) }}'>Delete</a></td>
<td><a href='{{ url_for('issue_from_req', req_id=req.id) }}'>Add Issue</a></td>
{% endcall %}
</tbody>
</table>
{% endblock content %}
